.sidenav-container {
  height: 100%;
  background-color: black;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  background-color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading_nav {
  color: black;

}

.text-center {
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
}

.icon {
  margin-left: 33rem;
}

mat-toolbar {
  text-transform: uppercase;

  background-image: linear-gradient(-225deg,
      #6d6e7076 50%,
      #6d6e7076 50%,
      #d72b2b 50%,
      #d32b2b 50%);
  animation: textclip 2s linear infinite;


}

form {
  padding-left: 3%;
  padding-right: 3%;
}

.col-sm-3 {
  font-size: 20px;
  font-weight: 500
}

.mb-1 {
  display: flex;
  font-size: 20px;
  font-weight: 500
}

.btn-primary {
  width: 10%;

}

.card-body {
  background-color: rgb(23, 39, 82);
  padding: 30px;
  border-radius: 10%;

}

.card {
  background-color: rgb(26, 32, 85);
}

.form-group {
  background-color: rgb(13, 57, 83);
}

.col-sm-3 {
  color: white;
  padding-left: 5%;
}

.text-center {
  color: white;
}

.col-12 {
  padding-left: 3%;
}
.back_icon{
  margin-left: 30em;

  }
