
.main_div{

  background: grey;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  width: 30%;
margin: 10%;
margin-left: 35%;
background-size: cover;




}

.mat-drawer-content{

  background-image: url(/assets/images/ima2.jpg) !important;

  background-repeat: no-repeat;
  background-size:cover;




}
.main_div .title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}


form {
  margin-top: 25px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: rgb(245, 42, 42);
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box{
  display: flex;
  align-items: center;
}
.option_div span{
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a{
  font-size: 16px;
  color: rgb(245, 42, 42);
}
.button input{
  padding-left: 0;
  background: #375695;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background:  rgb(87, 31, 31);
}
form .sign_up{
  text-align: center;
  margin-top: 25px;
}
.sign_up a{
  color: rgb(245, 42, 42);
}
form a{
  text-decoration: none;
}
form a:hover{
  text-decoration: underline;
}


.example-spacer {
  flex: 1 1 auto;
}

.overlay {
  /* background: #042026; */
  background-image: url(/frontend/src/assets/images/ima_front_page.jpg);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  background-repeat: no-repeat;
  background-size:cover;
}
