.sidenav-container {
  height: 100%;
  background-color: #042026;
}

.sidenav {
  width: 200px;
}
.mat-drawer-content{

  background-color: white;
}


.mat-toolbar {
  background-color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading_nav {
  color: black;
}

.col-3 {
  color: black;
}
.icon{
  margin-left: 32.9rem !important;
}

.row {
  color: rgb(12, 12, 12);
}

.col {
  color: rgb(13, 13, 14);
}

.col-sm-12 {
  color: rgb(19, 18, 18);
}

.card {
  background-color: white !important;
  border: 1px black;
}



@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 30%;
  }
}

.table-light {
  border-bottom: solid;
}

td {
  text-align: left;
}

.container {
  width: fit-content;
  text-align: left;
}

/* .float-right {
  position: absolute;
  left: 30em;
  top: 3.7em;
} */

.gcDetails {
  padding: 1em;
}

.gcDetails1 {
  position: absolute;
  left: 31em;
  top: 3.7em;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;

  height: 100%;

}

mat-toolbar {
  text-transform: uppercase;

  background-image: linear-gradient(-225deg,
      #6d6e7076 50%,
      #6d6e7076 50%,
      #d72b2b 50%,
      #d32b2b 50%);
  animation: textclip 2s linear infinite;
}
.card{

  font: normal 18px Arial, Helvetica, Sans-serif;
    background-color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;


}


.gcDetail{
  font-size: 18px;
  padding: 1em;




}
.gcDetail2{
  font-size: 18px;


  left: 50em;
  top: 3.4em;
  padding: 1em;


}
.gcDetail3{
  font-size: 18px;

  left: 50em;
  top: 1em;
  padding:1em

}

table {
  border-collapse: collapse;
  table-layout: fixed;
background-color: white;
  background-size: 100px;
  width: 100%;
  height: 100%
}
#table th{
 border-bottom: solid;
 text-align: center;

}

td {
  font-size: 5mm;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  overflow: auto;
  white-space: nowrap;
  color: black;

}


.t1 {border-top: 0.1mm solid}
.b1 {border-bottom: 0.1mm solid}
.l1 {border-left: 0.1mm solid}
.r1 {border-right: 0.1mm solid}

.t2 {border-top: 0.2mm solid}
.b2 {border-bottom: 0.2mm solid}
.l2 {border-left: 0.2mm solid}
.r2 {border-right: 0.2mm solid}

.t3 {border-top: 0.3mm solid}
.b3 {border-bottom: 0.3mm solid}
.l3 {border-left: 0.3mm solid}
.r3 {border-right: 0.3mm solid}

.t4 {border-top: 0.4mm solid}
.b4 {border-bottom: 0.4mm solid}
.l4 {border-left: 0.4mm solid}
.r4 {border-right: 0.4mm solid}

.t5 {border-top: 0.5mm solid}
.b5 {border-bottom: 0.5mm solid}
.l5 {border-left: 0.5mm solid}
.r5 {border-right: 0.5mm solid}

.t6 {border-top: 0.6mm solid}
.b6 {border-bottom: 0.6mm solid}
.l6 {border-left: 0.6mm solid}
.r6 {border-right: 0.6mm solid}

.t7 {border-top: 0.7mm solid}
.b7 {border-bottom: 0.7mm solid}
.l7 {border-left: 0.7mm solid}
.r7 {border-right: 0.7mm solid}

.t8 {border-top: 0.8mm solid}
.b8 {border-bottom: 0.8mm solid}
.l8 {border-left: 0.8mm solid}
.r8 {border-right: 0.8mm solid}

page[size="A4"] {
  background: white;
  width: 297mm;
  height: 210mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}



.sidenav-container {
  height: 100%;
  background-color: white;

}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  background-color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading_nav {
  color: black;

}

.icon {
  margin-left: 33rem;
}

mat-toolbar {
  text-transform: uppercase;

  background-image: linear-gradient(-225deg,
      #6d6e7076 50%,
      #6d6e7076 50%,
      #d72b2b 50%,
      #d32b2b 50%);
  animation: textclip 2s linear infinite;
}

.footer{
  border-top:ridge;
  border-bottom: ridge;
}

.btn{
  width: 20em;
}
.totalAmount{
  margin-left: 49.3em;
  float: left;
}
