<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button  [routerLink]="['/menu']" routerLinkActive="router-link-active"
        type="button"

        aria-label="Toggle sidenav"
        mat-icon-button


       >
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button><div class="heading_nav">
        <h3 >ADMINISTRATOR</h3>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
