<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        [routerLink]="['/menu']"
        routerLinkActive="router-link-active"
      >
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      <div class="heading_nav">
        <h3>BILLING</h3>
      </div>
      <a class="icon">
        <img
          src="../../assets/images/ima logo.avif"
          alt=""
          width="50"
          height="50"
          class="d-inline-block align-text-center"
        />
      </a>
      <div class="back_icon">
        <button
          class="backIcon"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          [routerLink]="['/billingPage']"
          routerLinkActive="router-link-active"
        >
          <mat-icon aria-label="Side nav toggle icon"
            ><span class="material-icons">arrow_back</span></mat-icon
          >
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!---     buttons-->
    <div class="row-5">
      <button
        type="button"
        class="btn btn-light btn-lg m-4"
        [routerLink]="['/receiptForm']"
        routerLinkActive="active"
      >
        RECEIPT FORM
      </button>
      <button
        type="button"
        class="btn btn-light btn-lg m-4"
        [routerLink]="['/viewReceipt']"
        routerLinkActive="active"
      >
        VIEW RECEIPT
      </button>

      <button
        type="button"
        class="btn btn-light btn-lg m-4"
        [routerLink]="['/copyReceipt']"
        routerLinkActive="active"
      >
        COPY RECEIPT
      </button>
      <!-- <button type="button" class="btn btn-light btn-lg m-4">
        ADVANCED FILTER
      </button> -->
      <button
      type="button"
      class="btn btn-light btn-lg m-4"
      [routerLink]="['/deleteReceipt']"
      routerLinkActive="active"
    >
      DELETE RECEIPT
    </button>


      <button
        type="button"
        class="btn btn-light btn-lg m-4"
        (click)="open(content)"
      >
        ADVANCED FILTER
      </button>

      <!--popup modal-->



      <ng-template ngf #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">ADVANCE FILTER</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col">
                <label>GC NO.</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="gcNumber"
                  placeholder=""
                />
              </div>
              <div class="col">
                <label>NAME</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="name"
                  placeholder=""
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>RECORD NUMBER</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="recordNo"
                  placeholder=""
                />
              </div>
              <div class="col">
                <label>DATE</label>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="date"
                  placeholder=""
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>BILL NO / DETAILS</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="billNoDetails"
                  placeholder=""
                />
              </div>
              <div class="col">
                <label>MODE / CHEQUE</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="modecheque"
                  placeholder=""
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>AMOUNT</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="amount"
                  placeholder=""
                />
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.dismiss('Cross click')"
          >
            SEARCH
          </button>
        </div>
      </ng-template>


    </div>




    <!--Table start-->

    <table class="greyGridTable">
      <thead class="thead-light">
        <tr>
          <th class="table-light" scope="col">S.NO</th>

          <th class="table-light" scope="col">PREFIX</th>
          <th class="table-light" scope="col">GC. NO</th>
          <th class="table-light" scope="col">NAME</th>
          <th class="table-light" scope="col">DATE</th>
          <th class="table-light" scope="col">BILL NO / DETAILS</th>
          <th class="table-light" scope="col">MODE / CHEQUE</th>
          <th class="table-light" scope="col">AMOUNT</th>
        </tr>
      </thead>
      <tbody>
        <tr  style="cursor:pointer;"
        (click)="onClickTable(Billing.gcNumber)"
          *ngFor="
            let Billing of Billing

              | filter : gcNumber
              | filter : name
              | filter : recordNo
              | filter : date
              | filter : amount
              | filter : billNoDetails
              | filter : gcType
              | filter : modecheque
              | paginate : { itemsPerPage: 10, currentPage: p };
            let i = index
          "
        >
          <td class="text_white">{{ i + 1 }}</td>


          <td class="text_white">{{ Billing.gcType }}</td>
          <td class="text_white">{{ Billing.gcNumber }}</td>
          <td class="text_white">{{ Billing.name | uppercase }} </td>
          <td class="text_white">{{ Billing.date }}</td>
          <td class="text_white">{{ Billing.billNoDetails }}</td>
          <td class="text_white">{{ Billing.type }}</td>
          <td class="text_white">{{ Billing.amount }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </mat-sidenav-content>
</mat-sidenav-container>
