<div fxFlex>
  <mat-sidenav-container fxFill class="sidenav-container">
    <mat-sidenav class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list> </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <mat-toolbar color="dark">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          [routerLink]="['/menu']"
          routerLinkActive="router-link-active"
        >
          <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
        </button>
        <div class="heading_nav">
          <h3>BILLING</h3>
        </div>
        <a class="icon">
          <img
            src="../../assets/images/ima logo.avif"
            alt=""
            width="50"
            height="50"
            class="d-inline-block align-text-center"
          />
        </a>
      </mat-toolbar>
      <!-- Add Content Here -->
      <!---     buttons-->




      <div class="col">
        <button type="button" class="l-half button"  [routerLink]="['/expenditureForm']" routerLinkActive="router-link-active"><span>EXPENDITURE FORM</span></button>
        <button type="button" class="r-half button" [routerLink]="['/receiptForm']" routerLinkActive="router-link-active"><span>RECEIPT FORM</span></button>



    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

